@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Work+Sans:wght@300&display=swap');

* {
    margin:0;

    padding: 0;
    font-family: Roboto,Arial,sans-serif;
    box-sizing: inherit;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

.grid-desc {
    display: grid;
    grid-template-columns: repeat(2, 480px);
    justify-content: center;
    gap: 20px;
    margin: 0 -10px;

}

#desc {
    display: grid;
    color: #747474;
    font-family: Roboto;
    font-size: 16px;
    justify-self: stretch;
    

}

.grid-desc p {
    margin: .8em 0;
    line-height: 1.75;
    font-weight: 400;
}


.grid-search {
    display: grid;
    grid-template-columns: repeat(3,315px);
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    padding: 2em 2em 0;

   
}

.for-patients {
    background-color: #00ccb1;
    
    
}

.for-doctors {
    background-color: #3d83df;
}

.for-clinics {
    background-color: #1b2734;
}

.for-patients > img {
    position: absolute;
    margin-bottom: -.4em;
    background-color: #3d83df;
    max-width: 100%;
    height: auto;
   
}
.search h1 {
   display: flex;
    font-size:  1.625em;
    font-weight: 400;
    color: #fff;
    margin: .3em 0;
}

.search  h2 {
    display: flex;
    font-size: 1.5em;
    font-weight: 300;
    font-family: Work Sans,Arial,sans-serif;;
    line-height: 1.2;
    
    color: #fff;
  
}

.grid-search div {
    border-radius: 10px;
}

.grid-search > * {
    transition: all .35s ease 0s;
}

.search-categorie{
    transition: all .2s ease 0s;
}

.search-patients {
    padding: 2em 2em 0;
}

.search-doctors {
    padding: 2em 2em 0;
}

.search-clinics {
    padding: 2em 2em 0;
}
.elements > .for-patients {
    transform: translate(0);
    opacity: 1;
  }



 
select  {
  
      width: 100%;
      background: transparent;
      color: #ffff;
      border: 0;
      border-radius: 0;
      padding: 0 2em 0 0;
      outline: 0;
      text-transform: none;
      text-decoration: underline;
      cursor: pointer;
      font-size: 20px;

      
  }
.select_doctors{
    margin-top: 80px; display:inline-block;
}

.select_clinics_2_20{
    margin-top: 40px; display:inline-block;
    }
    
    .select_patients{
        margin-top: 80px; display:inline-block;
        }
        .more_20_2{
            margin-top: 15px; display:inline-block;
        }
        .select_clinics_more_20{
            margin-bottom: 30px; display:inline-block;
            }
  option {
    color: black;
    font-size: 16px;
  }

  #width_options {
    
        width: 130px;   
        

  }
  #width_options_more {
    
    width: 210px;   
    

}
.company > h1 {
    color:#00ccb1;
    width: 20px;
    font-size: 22px;
}

.search_end {
    margin-top: 70px; 
}

.global-company {
    
    display: flex;
    width: 16%;
    position: left;
    margin: .25em 0 .35em;
    padding-right: 1em;
    font-weight: 300;
    letter-spacing: -.3px;
    margin-left: 17.5%;
    text-align: center;
}

.global-company > h1 {
    font-size:  1.625em;
    
}

.company-ul {
    display: flex;
   
   
    
}


.company-list {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
   
}

.company-list  a path {
    transition: all .2s ease 0s;
    fill: hsla(0,0%,67%,.7);
}