
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
 
  .sticky + .content {
    padding-top: 100px;
  }

  .sticky > .change-color {
    display: block;
  }



  .change-color {
    display: none;
    height: 2px;
    width: 100%;
    background-color: #f8f8f8;
}
.nav-bar {
    height: 80px;
    background-color: #ffffff ;
    justify-content: space-between;
    

}

a {
    transition: all .2s ease 0s;
}
.nav-logo {
    display: inline-block;
    width: 268px;
    height: 33px;
    margin-left: 17.5%;
    margin-top: 1%;
    

}

.nav-items {
    display: inline-block;
    list-style: none;
    margin-left: 23%;
    margin-top: 1%;

    
}
.nav-items > li {
    display: inline-block;
    position: relative;
    padding: 0 20px;

}

.nav-item {
    padding: 0 0.6em;
}

.nav-link{
    text-decoration: none;
    color: #b3b3b3;
    font-size: .9375rem;
}

.is-current {
    color: #00b39b;
}

.is-career:hover {
    color: #00b39b;
    text-shadow: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.nav-dropdown-content {
    display: none;
    color: #b3b3b3;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    box-shadow: 0 5px 20px 0 #d3cfc9;
    z-index: 1;
}
.dropdown:hover .nav-dropdown-content {
    display: block;
}
.is-departments:hover {
    color: #00b39b;
}

.nav-dropdown-items{
    list-style: none;
 
    
}



.nav-dropdown-link {
    text-decoration: none;
    color: #ababab;

}
.nav-dropdown-link:hover{
    color: #00b39b;
}

.nav-dropdown-content a {
    color: #747474;
    line-height: 120%;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
  }

  #logo-docplanner {
    text-align: center;
  }

  .details {
    margin: 2.0625rem auto 3.75rem;
  }

  h1 {

    font-size: 2.125rem;
    color: #00b39b;
    text-align: center;
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: normal;


  }